
p { font-family: Alma Mono, monaco, monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; color: white; 
    line-height: 1em;}
body{
    background-color: black;
}